<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ambraproject@plos.org">email</a></li>
	        		<li><a href="https://github.com/PLOS/wombat">https://github.com/PLOS/wombat</a></li>
				</ul>
			</footer>
		</body>
	</html>
